<app-home></app-home>
<button class="btn btn-primary" id="back-button" (click)="goBack()"><i class="fa fa-arrow-left" style="width: 20px;"></i></button>
<div class="jumbotron">
  <div class="container">
    <h1 class="mb-5 mt-5 text-center" id="title-h1">
      List of competitions for category
    </h1>
    <div class="input-group mb-5 text-center" style="width: 400px">
      <span class="input-group-text" id="inputGroup-sizing-default"
        ><i class="fa fa-search"></i>
      </span>
      <input
        type="text"
        class="form-control"
        aria-label="Sizing example input"
        aria-describedby="inputGroup-sizing-default"
        placeholder="Search category.."
        [(ngModel)]="search"
      />
    </div>
    <table
      class="table table-hover table-borderless text-center"
      *ngIf="competitions$ | async as competitions"
    >
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Competition Name</th>
        </tr>
      </thead>
      <tbody
        *ngFor="
          let competition of competitions
            | filter: search
            | orderBy: sortColumn:reverse
        "
      >
        <tr>
          <td>{{ competition.id }}</td>
          <td>{{ competition.name }}</td>
          <td>
            <!-- <button routerLink="{{ category.id }}" class="btn btn-outline-primary">
              Select category
            </button> -->
          </td>
          <div class="col-6" style="width: 100%">
            <button class="btn btn-outline-success" (click)="open(mymodal)">
              Edit selected competition
            </button>

            <ng-template #mymodal let-modal>
              <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">
                  Edit category
                </h4>
                <button
                style="border: 0;"
              type="button"
              class="btn btn-outline-danger"
              aria-label="Close"
              (click)="modal.dismiss('Cross click')"
            >
              <span aria-hidden="true"><i class="fa fa-times" style="border: none;"></i></span>
            </button>
              </div>

              <div class="modal-body">
                <!-- <div class="input-group mb-3"> -->
                <!-- <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">@</span>
                  </div> -->
                <!-- <input
                    type="text"
                    class="form-control"
                    placeholder="{{ sport.id }}"
                    aria-label="Username"
                    aria-describedby="basic-addon1"
                    [(ngModel)]="inputId"
                  />
                </div> -->
              </div>
              <div class="modal-body">
                <div class="input-group mb-3">
                  <!-- <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">@</span>
                  </div> -->
                  <input
                    type="text"
                    class="form-control"
                    placeholder="{{ competition.name }}"
                    aria-label="Username"
                    aria-describedby="basic-addon1"
                    [(ngModel)]="inputCompetitionName"
                  />
                </div>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-outline-success"
                  (click)="updateCompetition(competition)"
                  (click)="modal.close('Save click')"
                >
                  Edit
                </button>
                <button
                  type="button"
                  class="btn btn-outline-danger"
                  (click)="modal.close('Save click')"
                >
                  Cancel
                </button>
              </div>
            </ng-template>
          </div>
          <td>
            <button
              [routerLink]="['/competitor/competition/', competition.id]"
              class="btn btn-outline-dark"
            >
            Show competitor for competition
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
